body{
    background-image: url(images/pattern-hills.svg);
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-position: bottom;
    height: 100vh;
    background: linear-gradient(hsl(266, 38%, 12%),hsl(267, 32%, 18%),hsl(267, 27%, 28%));
    overflow: hidden;
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: 'Red Hat Text', sans-serif;
    grid-template-rows: repeat(8,80px);
    
}
.mountain{
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: -10px;
}
.stars{
    width: 100%;
    height: 75%;
    position: absolute;
    top:0;
    z-index: -1;
}
$textColor:hsl(237, 18%, 59%);
$timeColor:hsl(345, 95%, 68%);
.header{
    font-size: 25px;
    color: white;  
    text-align: center;
    grid-area: 1/1;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,150px);
    grid-template-rows: repeat(1,60px);
    grid-auto-flow: column;
    justify-content: center;
    text-align: center;
    column-gap: 20px;
    grid-area: 4/1;
    
    .top,.flip-clock .flip-top{
        background: hsl(236, 15%, 18%);
        overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .bottom,.flip-clock .flip-bottom{
        background: hsl(236, 21%, 26%);
        display: block;
        align-items: flex-end;
        justify-content: center;
        display: flex;
        overflow: hidden;
        z-index: 1;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .numbers,.flip-clock .flip-top,.flip-clock .flip-bottom {
        width: 150px;
        height: 60px;
        font-size: 90px;
        vertical-align: middle;
        line-height: 1.33;
        color: $timeColor; 
    }
    .time {
        color: $textColor;
        font-size: 20px;
    }
    .flip-clock{
        position: relative;
    }
    .flip-clock .flip-top{
        position: absolute;
        content:"08";
        right:0px;
        top:0px;
        animation: flip-top 250ms ease-in;
        transform-origin:bottom;
    }
    .flip-clock .flip-bottom{
        position: absolute;
        content:"08";
        top:60px;
        animation: flip-bottom 250ms 250ms ease-in;
        transform-origin:top; 
        transform: rotateX(90deg);
    }
}

@keyframes flip-top{
    100%{
        transform: rotateX(90deg);
    }
}
@keyframes flip-bottom{
    100%{
        transform: rotateX(0deg);
    }
}



@media screen and (max-width: 900px) {
    .container{
        zoom:.8;
    }
}
@media screen and (max-width: 600px) {
    .container{
        zoom:.6;
    }
}
@media screen and (max-width: 425px) {
    .container{
        zoom:.5;
    }
}
// - Dark desaturated blue: hsl(236, 21%, 26%)
// - Very dark blue: hsl(235, 16%, 14%)
// - Very dark (mostly black) blue: hsl(234, 17%, 12%)